@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #003366; /* Navy */
  --secondary-color: #c0c0c0; /* Light Silver */
  --accent-color: #008080; /* Teal for accents */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #c0c0c0; /* Light Silver */
    --secondary-color: #003366; /* Navy */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Custom Tailwind CSS styles */
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-accent {
  color: var(--accent-color);
}

.bg-accent {
  background-color: var(--accent-color);
}
